@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.box-form {
  grid-row: 2/12;
  grid-column: 1/7;
  animation: slideInFromLeft 0.7s ease forwards;
}

.box-liste {
  grid-row: 2/12;
  grid-column: 1/4;
}

.form-background {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  overflow: auto;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carte {
  border-radius: 50px;
  grid-column: 6/10;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

/* Style pour la liste des anciens gymnastes */
.liste-anciens-gymnastes {
  background-color: var(--bg-100);
  padding: 5px;
  margin-left: 33px;
  max-height: 120px;
  border: 1px solid var(--bg-200);
  border-top: none;
  border-radius: 4px;
  overflow: auto;
  z-index: 10;
}

/* Style pour chaque élément de la liste */
.liste-anciens-gymnastes li {
  cursor: pointer;
  padding: 5px 0;
  list-style-type: none;
  font-size: 14px;
}

/* Style pour chaque élément de la liste au survol */
.liste-anciens-gymnastes li:hover {
  color: var(--primary-200);
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  width: 100%;
}

.flex-item-calendrier {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
}

.item-calendrier .react-calendar {
  background-color: var(--bg-200);
  color: var(--text-100);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 80px;
  width: 100%;
  gap: 5px;
}

.item label {
  color: var(--text-100);
}

.item .item-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  color: var(--text-100);
}

.column-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Divise la zone en deux colonnes de largeur égale */
  gap: 10px;
  /* Ajoute un espace entre les éléments */
  max-height: fit-content;
  overflow-y: auto;
  /* Activer le défilement vertical si le contenu dépasse la hauteur maximale */
  scrollbar-width: none;
  /* Cache la barre de défilement par défaut */
  margin-top: 10px;
  /* border-left: 3px solid var(--text-100); */
}

.column-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.column-item label {
  color: var(--text-100);
}

.item-calendrier {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: fit-content;
}

.item-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  min-width: fit-content;
}

.item-date .label-date {
  color: var(--text-100);
}

input[type="date"] {
  width: 100%;
  padding: 5px;
  margin: 4px 0;
  border: 1px solid var(--bg-200);
  background-color: var(--bg-100);
  border-radius: 4px;
  box-sizing: border-box;
}

.item input,
.item select {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  border: 1px solid var(--bg-200);
  background-color: var(--bg-100);
  color: var(--text-100);
  border-radius: 4px;
  box-sizing: border-box;
}

.item .input-file {
  border: 1px solid var(--bg-300);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: var(--bg-200);
  color: var(--text-100);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.item .input-file:hover {
  background-color: var(--bg-300);
}

.item .input-file-disabled {
  border: 1px solid var(--bg-300);
  display: inline-block;
  padding: 6px 12px;
  cursor: not-allowed;
  border-radius: 4px;
  background-color: var(--bg-200);
  color: var(--text-100);
}

.item .btn-delete-image {
  background-color: rgb(255, 88, 88);
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.item .btn-delete-image:hover {
  background-color: #f00;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.item button {
  padding: 5px;
  border: 1px solid var(--bg-200);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--primary-100);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.checkbox-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.column-item .checkbox-custom {
  width: auto;
  padding: 5px;
  margin: 4px 0;
  border: 1px solid var(--bg-200);
  background-color: var(--bg-100);
  border-radius: 4px;
  box-sizing: border-box;
}

.checkbox-container input {
  width: 20px;
  height: 20px;
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.item input::placeholder {
  transition: all 0.3s ease 0s;
}

.item input:focus::placeholder {
  transform: translateY(-20px);
}

.infos-container {
  background-color: var(--bg-100);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2%;
  min-width: 350px;
}
